<article>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <button type="button" class="btn btn-sm btn-default" aria-label="Left Align" up-href="{back_link}" up-target="article" up-history="false" title="Go back">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  </button>
                <a href="{link}">{title}</a> <span class="publish-date label label-default">{published}</span>
            </h3>
        </div>
        <div class="panel-body">
            {content}
        </div>
    </div>
</article>
