<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PBRR</title>

  <!-- https://milligram.io/ -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/milligram.min.css">
  <link rel="stylesheet" href="css/pbrr.css" />

  <script src="js/react.development.js"></script>
  <script src="js/react-dom.development.js"></script>
  <script src="js/babel.min.js"></script>

  <script src="js/pbrr.js"></script>
</head>
<body>
  <div id="root">
  </div>
  <script type="text/babel">

    const PostsList = (props) => {
      const { postsData } = props;

      const rows = postsData.map((row, index) => {
        return (
          <div className="post-container" key={index}>
            <h5 className="post-button button button-outline button-black">
              {row.title} | {row.site} <span className="badge">{row.formattedDate}</span>
            </h5>
            <div className="post-content" dangerouslySetInnerHTML={{ __html: row.content }} />
          </div>
        );
      });

      return (
        <div className="accordion">
          {rows}
        </div>
      );
    }

    class App extends React.Component {

      state = {
        posts: [],
      }

      // TODO: check if best place to put this logic
      constructor(props) {
        super(props);
        read(this.onPostsRead);
      }

      onPostsRead = (postsRead) => {
        const { posts } = this.state;

        this.setState({
          posts: postsRead
        });

        // Note: this would add it multiple times, but now is not a valid scenario
        initAccordion('.accordion');
      }

      render() {
        const { posts } = this.state;

        return (
          <div className="container">
            <PostsList postsData={posts} />
          </div>
        );
      }
    }

    ReactDOM.render(<App />, document.getElementById('root'));

  </script>
</body>

</html>