body {
  font-size: 1.8em;
}

.accordion .post-container .post-content {
  width: 100%;
  color: #262626;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
}

.accordion .post-container.active .post-content {
  opacity: 1;
  height: auto;
  max-height: initial;

  border: 0.1rem solid #ddd;
  border-radius: .4rem;

  padding: 6px;
  margin-bottom: 6px;
}

.accordion {
  margin: 6px;
}

.accordion .post-button {
  cursor: pointer;
}

.accordion span.badge {
  background-color: #777;
  border: 0.1rem solid #777;
  border-radius: .4rem;
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 2rem;
  letter-spacing: .1rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: auto;
}

.accordion .post-button a {
  font-size: 1.5em;
  vertical-align: middle;
  margin-left: 6px;
}

.button-black {
  background-color: black;
  border-color: black;
}

.button-black.button-outline {
  background-color: transparent;
  color: black;
}

a {
  color: #337ab7;
}

pre {
  border-left: 0.3rem solid #337ab7;
}

h5 {
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}