body {
    font-size: 16px;
}

.list-group-item {
    padding: 5px 10px;
}

.list-group-item a {
    color: #555;
}

.action-mark-all-read {
    float: right;
    display: none;
}

.list-group-item:hover + .action-mark-all-read, .list-group-item:hover a + .action-mark-all-read {
    display: block;
}

.action-mark-all-read:hover {
    text-decoration: none;
}

div.row {
    margin-right: 0;
}

img {
    max-width: 1500px;
}

div.panel-body a {
    text-decoration: underline;
}

button.category {
    display: block;
    margin: 6px 6px 0 6px;
    border-width: 3px;
}

#feed-content {
    position: -webkit-sticky;
    position:sticky;
    top: 6px;
}

#navigation-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media (prefers-color-scheme:dark) {
    body {
        color: #DCD8D9;
        background-color: #2A2A2E;
    }

    a {
        color: #DCD8D9;
    }

    img {
        filter: grayscale(30%);
        background-color: #EEE;
    }

    div.panel-default {
        border-color: #4C4C4E;
    }

    button.btn, a.list-group-item, .panel-default > .panel-heading, div.panel-body {
        color: #DCD8D9;
        background-color: #2A2A2E;
        border-color: #4C4C4E;
    }
}
